<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

  {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="https://vedranaa.github.io/cpF2024/">Programming 2024</a></h1>

        <p>Re-exam preparation</p>

        <ul>
          <li><a href="./day1.html">Day 1</a></li>
          <li><a href="./day2.html">Day 2</a></li>
          <li><a href="./day3.html">Day 3</a></li>
        </ul>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p>This page is maintained by <a href="mailto:programmering@compute.dtu.dk">programmering@compute.dtu.dk</a></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
